@model Kindergarten.ViewModels.Models.GroupsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Groups</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" asp-route-page="@Model.PageViewModel.PageIndex">
    <div class="form-action no-color">
        <label>Group Type name: </label>
        <input name="Name" value="@Model.GroupsFilterViewModel.Name" />

        <label>Year of creation: </label>
        <input name="Year" type="number" min="1" value="@Model.GroupsFilterViewModel.Year" />

        <label>Count of children: </label>
        <input name="Count" type="number" min="1" value="@Model.GroupsFilterViewModel.Count" />

        <input type="submit" value="Filter" class="btn btn-success" />
        <!--<a asp-action="Index">Back to Full List</a>-->
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortState="@Model.SortViewModel.GroupName" asp-route-page="@Model.PageViewModel.PageIndex">
                @Html.DisplayNameFor(model => model.Group.GroupName)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortState="@Model.SortViewModel.GroupCount" asp-route-page="@Model.PageViewModel.PageIndex">
                    @Html.DisplayNameFor(model => model.Group.CountOfChildren)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortState="@Model.SortViewModel.GroupYear" asp-route-page="@Model.PageViewModel.PageIndex">
                @Html.DisplayNameFor(model => model.Group.YearOfCreation)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortState="@Model.SortViewModel.GroupStaff" asp-route-page="@Model.PageViewModel.PageIndex">
                    @Html.DisplayNameFor(model => model.Group.Staff.FullName)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortState="@Model.SortViewModel.GroupType" asp-route-page="@Model.PageViewModel.PageIndex">
                    @Html.DisplayNameFor(model => model.Group.Type.NameOfType)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Groups)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountOfChildren)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearOfCreation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Staff.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type.NameOfType)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.PageViewModel.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.PageViewModel.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortState="@Model.SortViewModel.CurrentState"
   asp-route-page="@(Model.PageViewModel.PageIndex - 1)"
   asp-route-name="@Model.GroupsFilterViewModel.Name"
   class="btn btn-default @prevDisabled">
    Previous
</a>

<a asp-action="Index"
   asp-route-sortState="@Model.SortViewModel.CurrentState"
   asp-route-page="@(Model.PageViewModel.PageIndex+1)"
   asp-route-name="@Model.GroupsFilterViewModel.Name"
   class="btn btn-default @nextDisabled">
    Next
</a>
