@model Kindergarten.ViewModels.Models.StaffViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Staff</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" asp-route-page="@Model.PageViewModel.PageIndex">
    <div class="form-action no-color">
        <label>Staff name: </label>
        <input name="GroupName" value="@Model.StaffFilterViewModel.GroupName" />

        <label>Info: </label>
        <input name="Info" value="@Model.StaffFilterViewModel.Info" />

        <label>Reward: </label>
        <input name="Reward" value="@Model.StaffFilterViewModel.Reward" />

        <input type="submit" value="Filter" class="btn btn-success" />
        <!--<a asp-action="Index">Back to Full List</a>-->
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortState="@Model.SortViewModel.StaffName" asp-route-page="@Model.PageViewModel.PageIndex">
                    @Html.DisplayNameFor(model => model.Staff.FullName)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortState="@Model.SortViewModel.StaffAdress" asp-route-page="@Model.PageViewModel.PageIndex">
                    @Html.DisplayNameFor(model => model.Staff.Adress)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortState="@Model.SortViewModel.StaffPhone" asp-route-page="@Model.PageViewModel.PageIndex">
                    @Html.DisplayNameFor(model => model.Staff.Phone)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortState="@Model.SortViewModel.StaffInfo" asp-route-page="@Model.PageViewModel.PageIndex">
                    @Html.DisplayNameFor(model => model.Staff.Info)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortState="@Model.SortViewModel.StaffReward" asp-route-page="@Model.PageViewModel.PageIndex">
                    @Html.DisplayNameFor(model => model.Staff.Reward)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortState="@Model.SortViewModel.StaffPos" asp-route-page="@Model.PageViewModel.PageIndex">
                    @Html.DisplayNameFor(model => model.Staff.Position)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Staffs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Info)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reward)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position.PositionName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.PageViewModel.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.PageViewModel.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortState="@Model.SortViewModel.CurrentState"
   asp-route-page="@(Model.PageViewModel.PageIndex - 1)"
   asp-route-name="@Model.StaffFilterViewModel.GroupName"
   class="btn btn-default @prevDisabled">
    Previous
</a>

<a asp-action="Index"
   asp-route-sortState="@Model.SortViewModel.CurrentState"
   asp-route-page="@(Model.PageViewModel.PageIndex+1)"
   asp-route-name="@Model.StaffFilterViewModel.GroupName"
   class="btn btn-default @nextDisabled">
    Next
</a>
